<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- Repo-local NuGet settings to avoid CPM warning NU1507.
       This solution only uses packages available on nuget.org. -->
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>
