
# GitHub CLI Token
# https://cli.github.com/manual/gh_auth_login
GH_TOKEN = ''

# Nuget Token
# https://nuget.org/account/apikeys
NUGET_TOKEN = ''

# Nuget Username / Profile name
# Used by Trusted Publishing via NuGet/login@v1 in publish.yml
NUGET_USER = 'stevomccormack'

# Qodana CLI Token
# https://jetbrains.com/help/qodana/cli.html#authentication
# https://jetbrains.com/qodana/
# https://qodana.cloud/teams/2096a - PineGuard Team
# https://qodana.cloud/projects/Gg2oj/reports/B5LaqV PineGuard.NET
QODANA_TOKEN = ''

# SonarQube Token - admin:Scanner-1234
# http://localhost:9001/account/security - Tokens
# http://localhost:9001/dashboard?id=PineGuard - Dashboard
SONARQUBE_TOKEN = ''
